<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd 
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- datesource -->
	<context:property-placeholder location="classpath:Jdbc.properties"/>
	<bean id="dataSourceId" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	<!-- dao -->
	<bean id="AccountDaoId" class="cn.wyc.junit6.AccountDaoImpl">
		<property name="dataSource" ref="dataSourceId"></property>
	</bean>
	<!-- service -->
	<bean id="AccountServiceId" class="cn.wyc.junit6.AccountServiceImpl">
		<property name="accountDao" ref="AccountDaoId"></property>
		<property name="transactionTemplate" ref="TransactionTemplateId"></property>
	</bean>
	<bean id="TransactionTemplateId" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="txManagerId"></property>
	</bean>
	<!-- 配置事务管理器 管理器需要事务，事务从Connection获得，连接从连接池DataSource获得-->
	<bean id="txManagerId" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceId"></property>
	</bean>
</beans>
